
<mat-toolbar *ngIf="stateService.switch$ | async">Create Product</mat-toolbar>
<form [formGroup]="prodForm"  autocomplete="off" novalidate (ngSubmit)="createProduct(prodForm.value)" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-card-content>
    <mat-form-field>
      <input matInput type="text" placeholder="Name" formControlName="name" id="name">
      <mat-hint align="end">Name</mat-hint>
      <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
      <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 15 characters</mat-error>
    </mat-form-field>



    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput type="text" placeholder="Description" formControlName="description"></textarea>
      <mat-hint align="end">Not more then 120 characters long.</mat-hint>
      <mat-error *ngIf="hasError('description', 'required')">Description is required</mat-error>
      <mat-error *ngIf="hasError('description', 'maxlength')">You have more than 150 characters</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input matInput type="number" class="example-right-align" placeholder="Price" formControlName="price">
      <span matPrefix>$&nbsp;</span>
      <mat-error *ngIf="hasError('price', 'required')">Price is required</mat-error>
      <mat-error *ngIf="hasError('price', 'maxlength')">You have more than 6 numbers</mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!prodForm.valid">Create</button>
    <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  </mat-card-actions>
</form>
